@charset "UTF-8";
/* CSS Document 
Default Body CSS
*/
body{
	background: rgba(17,18,35,0.79);
	font-family:"American Typewriter";
	color: white;
}
a:link{
	background-color: rgba(17,18,35,0.79);
	color: white;
	padding: 8px; 
	text-decoration: none;
}
a:visited{
	background-color: rgba(17,18,35,0.79);
	color: white;
	padding: 8px; 
	text-decoration: none;
}
a:hover{
	background-color: royalblue;
	color: white;
	padding: 8px; 
	text-decoration: none;
}

.submitButtons{
	background-color: rgba(17,18,35,0.79);
	color: white;
	font-family:"American Typewriter";
	margin-top: 7px;
	padding: 8px;
}
.submitButtons:hover{
	background-color: royalblue;
	color: white;
	font-family:"American Typewriter";
	padding: 10px;
}


/* Landing page CSS*/
body.landing{
	text-align: center;
	background: rgba(17,18,35,0.79);
	font-family:"American Typewriter";
	color: white;
	
}
canvas.landingCanvas {
	display: block;
	margin: 0 auto;
	
}

a.landingLogin {
    background-color: rgba(17,18,35,0.79);
    color: white;
	font-family:"American Typewriter";
    padding: 15px 32px;
    display: inline-block;
    font-size: 20px;
	margin-top: 75px;
}
a.landingLogin:hover{
	background-color: royalblue;
	padding: 15px 32px;
}



/* Login Page CSS */
.loginBody{
	font-family: "American Typewriter";
	font: 14px;
	margin-top: 40px;
	text-align: center;
	
}

.form-control{
	background-color: rgba(17,18,35,0.79);
	color: white;
	margin-top: 5px;
}

/* Nav Bar CSS */
.navBar {
  background-color: whitesmoke;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.navBar a {
  float: left;
  background-color: rgba(28,28,44,1.00);
  color: white;
  text-align: center;
  margin-left: 30px;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navBar a:hover {
  background-color: royalblue;
  color: white;
}

/* Add a color to the active/current link */
.navBar a.active {
  background-color: steelblue;
  color: white;
}

/* Index CSS */
.indexLocation{
	text-align: center;
}

